---
import type { Layout } from '@types'

import { Head } from 'astro-capo'

import SchemaGlobal from '@components/schema/Global.astro'

import { AUTHOR } from '@data/constants'

import '@unocss/reset/tailwind.css'
import '@styles/index.css'

interface Props {
  options: Layout
}

const { options } = Astro.props as Props
const { title, description, metaRobots } = options
---

<!doctype html>
<html dir="ltr" lang="en">
  <Head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>

    <meta name="robots" content={metaRobots || 'index, follow'} />
    {description && <meta name="description" content={description} />}
    {description && <link href={Astro.url.href} rel="canonical" />}
    <meta name="author" content={AUTHOR} />
    {description && <SchemaGlobal />}

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="color-scheme" content="dark light" />
    <meta name="theme-color" content="#000" />

    <slot name="head" />
  </Head>
  <body>
    <slot />

    <slot name="body" />
  </body>
</html>
